
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-3">
            <div class="card">
                <img src="../../../assets/img/gonzaloJPG.jpg" class="card-img-top" alt="Foto de la persona">
                <div class="card-body">
                    <h5 class="card-title">López Barrientos</h5>
                    <p class="card-text">René Gonzalo</p>
                    <p class="card-text"><small class="text-muted">Email: gonzz777&#64;gmail.com</small></p>
                    <p class="card-text"><small class="text-muted">Materia: Laboratorio 4 - T. Noche</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <h2 class="text-center mb-5">Juego Propio: "Ninguno aún"</h2>
            <h5>Explicación del Juego</h5>
            <p class="text-justified">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, odit eveniet eligendi labore, magni 
                aliquam minima ipsam, ab provident consequatur deserunt nihil quae commodi adipisci culpa autem atque
                corporis praesentium. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque natus sed, et
                ducimus eligendi cum expedita quos adipisci provident sunt molestiae, quibusdam quae aliquam maiores
                empore molestias suscipit minima nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Omnis enim distinctio quibusdam quo velit aliquid aut debitis eos consectetur? Odio excepturi pariatur
                corrupti odit voluptas distinctio cupiditate omnis iusto autem! Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Libero, rerum. Nulla soluta ex beatae impedit, quos enim maxime? 
                Aliquam molestias deleniti nemo recusandae perspiciatis incidunt ex nesciunt voluptatibus praesentium 
                blanditiis.
                
            </p>
        </div>  
    </div>
</div>