<div class="container-fluid justify-content-center">
    <!-- <div class="contenedor"> -->
        <div class="row justify-content-center">
            <div class="col-md-4 card-div">
                <div class="card contenedor-fijo">
                    <img src="../../../assets/img/elahorcado.png" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">El Ahorcado</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>  
            <div class="col-md-4 card-div">
                <div class="card contenedor-fijo">
                    <img src="../../../assets/img/mayoromenor.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Mayor o Menor</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>        
            <div class="col-md-4 card-div">
                <div class="card contenedor-fijo">
                    <img src="../../../assets/img/preguntados.png" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Preguntados</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 card-div">
                <div class="card contenedor-fijo">
                    <img src="" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>         
            <div class="col-md-4 card-div">
                <div class="card contenedor-fijo">
                    <img src="../../../assets/img/chatroom.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Chat-Room</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>  
            <div class="col-md-4 card-div">
                <div class="card contenedor-fijo">
                    <img src="" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Quien soy</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="/quiensoy" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>          
        </div>
    <!-- </div>  -->
</div>
