<nav class="navbar bg-body-tertiary">
    <div class="container">
        <h1>Sala de Juegos</h1>
        <!-- <a class="navbar-brand" href="#">
            <img src="../../../assets/img/logo.png" alt="sala de juegos" width="30" height="24">
            </a>        -->
        <!-- <ng-container *ngIf="!isUserLoggedIn; else elseBlock"> -->
        <ng-container *ngIf="!auth.currentUser?.email; else elseBlock">            
            <button [routerLink]="'./login'">Login</button>
            <button [routerLink]="'./registro'">Resgistrarse</button>
            <!-- <p>{{ login }}</p> -->
        </ng-container>
        <ng-template #elseBlock>
            <!-- <p>{{logout}}</p> -->
            <button [routerLink]="'./login'">Logout</button>
            <p>{{auth.currentUser?.email}}</p>
        </ng-template>        
        <!-- <a href="/home/login" class="btn btn-primary">Login</a> -->
    </div>
        
</nav>

<div class="container-fluid justify-content-center">
    <p>Home works</p>
    <router-outlet />
    <!-- <div class="contenedor"> -->


        <!-- <div class="row justify-content-center">
            <div class="col-md-4 div-card">
                <div class="card contenedor-fijo">
                    <img src="../../../assets/img/elahorcado.png" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">El Ahorcado</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="/ahorcado" class="btn btn-primary">Cargar</a>
                    </div>
                </div>
            </div>  
            <div class="col-md-4 div-card">
                <div class="card contenedor-fijo">
                    <img src="../../../assets/img/mayoromenor.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Mayor o Menor</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="mayoromenor" class="btn btn-primary">Cargar</a>
                    </div>
                </div>
            </div>        
            <div class="col-md-4 div-card">
                <div class="card contenedor-fijo">
                    <img src="../../../assets/img/preguntados.png" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Preguntados</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="preguntados" class="btn btn-primary">Cargar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 div-card">
                <div class="card contenedor-fijo">
                    <img src="" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="**" class="btn btn-primary">Cargar</a>
                    </div>
                </div>
            </div>         
            <div class="col-md-4 div-card">
                <div class="card contenedor-fijo">
                    <img src="../../../assets/img/chatroom.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Chat-Room</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="chat" class="btn btn-primary">Cargar</a>
                    </div>
                </div>
            </div>  
            <div class="col-md-4 div-card">
                <div class="card contenedor-fijo">
                    <img src="../../../assets/img/usericon.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Quien soy</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="quiensoy" class="btn btn-primary">Cargar</a>
                    </div>
                </div>
            </div>          
        </div> -->

        
    <!-- </div>  -->
</div>
