<!-- <nav class="navbar bg-body-tertiary"> -->
<div>
    <nav class="navbar">
        <div class="container">        
            <div class="d-flex">
                <a class="navbar-brand" href="#">
                    <img class="mt-2" src="../../../assets/img/logo.png" alt="sala de juegos" width="30" height="24">
                </a>
                <h1 class="texto-blanco silkscreen-regular" [routerLink]="['/home']" style="cursor: pointer;">Sala de Juegos</h1>
                
            </div>
            
            <div>            
                <!-- <ng-container *ngIf="!auth.currentUser?.email; else elseBlock">   -->
                <div *ngIf="!auth.currentUser?.email; else elseBlock;">  
                    <div class="div-botones d-flex">
                        <div>
                            <button class="btn btn-primary texto-blanco silkscreen-regular" type="button" [routerLink]="'./login'">Login</button>
                        </div>
                        <div>
                            <button class="btn btn-primary texto-blanco silkscreen-regular" type="button" [routerLink]="'./registro'">Resgistrarse</button>            
                        </div>                      
                    </div>
                </div>
                <!-- </ng-container>                             -->
                <ng-template #elseBlock>       
                    <div class="div-botones d-flex">                    
                        <!-- <button class="btn btn-primary " type="button" [routerLink]="'./login'">Logout</button> -->
                        <p class="mt-2 text-center texto-blanco">Usuario: {{auth.currentUser?.email}}</p>
                        <button (click)="CloseSession()" class="boton btn texto-blanco mx-2 mt-3">Logout</button>                 
                        <button (click)="abrirChat()" class="boton btn texto-blanco mx-2 mt-3">Chat</button>
                        <!-- <button (click)="abrirEncuesta()" class="boton btn texto-blanco mx-2 mt-3" style="position: absolute; top: 20px; right:20px;">Encuesta</button> -->
                        <a class="navbar-brand" href="#" (click)="abrirEncuesta($event)">
                            <img class="mt-2" src="../../../assets/img/meter.png" alt="sala de juegos" width="30" height="30" style="position: absolute; top: 20px; right:20px;" >
                        </a>
                    </div>     
                </ng-template>                  
            </div>
        </div>   
    </nav>
</div>
<div class="container-fluid overflow-hidden">
    <div class="row">
        <div class="col mt-3">
            <div *ngIf="cargando" class="d-flex justify-content-center align-items-center" style="position: fixed; top: 0; left: 0; width: 100%; height: 100vh; background: rgba(255, 255, 255, 0.8); z-index: 1000;">
                <div class="spinner-border text-primary" role="status">
                  <span class="visually-hidden">Cargando...</span>
                </div>
            </div>       
            
            <div *ngIf="isChildActive && !cargando">
                <router-outlet />
            </div>  

            <div *ngIf="!isChildActive">    
                <div class="container-fluid">  
                    <div class="contenedor">
                        <div class="row">
                            <div class="col div-card">                
                                <div class="card contenedor-fijo">
                                    <img src="../../../assets/img/elahorcado.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                    <h5 class="card-title">El Ahorcado</h5>
                                    <p class="card-text">Debes adivinar una palabra oculta, letra por letra. Cada error acerca al personaje al "ahorcamiento", mientras los aciertos completan la palabra y evitan su destino.</p>
                                    <button class="btn btn-primary texto-blanco silkscreen-regular" type="button" [routerLink]="'./juegos/ahorcado'">Cargar</button>
                                    </div>
                                </div>
                            </div>  
                            <div class="col div-card">                
                                <div class="card contenedor-fijo">
                                    <img src="../../../assets/img/mayoromenor.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                    <h5 class="card-title">Mayor o Menor</h5>
                                    <p class="card-text"> Adivina si la siguiente carta será mayor o menor que la actual. Hacé la mayor cantidad de aciertos consecutivos.</p>
                                    <button class="btn btn-primary texto-blanco silkscreen-regular" type="button" [routerLink]="'./juegos/mayoromenor'">Cargar</button>
                                    </div>
                                </div>
                            </div>        
                            <div class="col div-card">                
                                <div class="card contenedor-fijo">
                                    <img src="../../../assets/img/preguntados.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                    <h5 class="card-title">Preguntados</h5>
                                    <p class="card-text">Probá tu conocimiento contestando preguntas de diferentes áreas como ciencia, historia o entretenimiento.</p>
                                    <button class="btn btn-primary texto-blanco silkscreen-regular" type="button" [routerLink]="'./juegos/preguntados'">Cargar</button>
                                    </div>
                                </div>
                            </div>
                        <!-- </div>
                        <div class="row">                 -->
                            <div class="col div-card">                
                                <div class="card contenedor-fijo">
                                    <img src="../../../assets/img/simon.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                    <h5 class="card-title">Simon Says</h5>
                                    <p class="card-text"> Poné a prueba tu memoria. Debes repetir la secuencia correctamente a medida que aumenta la dificultad.</p>
                                    <button class="btn btn-primary texto-blanco silkscreen-regular" type="button" [routerLink]="'./juegos/simon'">Cargar</button>
                                    </div>
                                </div>
                            </div>  
                            <div class="col div-card">                
                                <div class="card contenedor-fijo">
                                    <img src="../../../assets/img/usericon.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                    <h5 class="card-title">Quien soy</h5>
                                    <p class="card-text">Descubrí quién soy =/.</p>
                                    <!-- <a href="quiensoy" class="btn btn-primary">Cargar</a> -->
                                    <button class="btn btn-primary texto-blanco silkscreen-regular" type="button" [routerLink]="'./puntajes'">Cargar</button>
                                    </div>
                                </div>
                            </div>          
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <!-- <div class="contenedor-chat col-3" [ngClass]="{'visible': chat, 'hidden': !chat}">
            <app-chat></app-chat>
        </div> -->
        @if (chat) {
            <div class="contenedor-chat col-3">
                <app-chat></app-chat>
            </div>
        }
        <!-- otra forma de hacerlo
        <div class="contenedor-chat col-3" [class.visible]="chat">
            <app-chat></app-chat>
        </div> -->
    </div>
</div>


<!-- <div class="container-fluid">
    <div class="row">
      <div class="col">
        <router-outlet />
      </div>
    </div>
</div> -->

<!-- <div class="container-fluid">
    <div class="row">
      <div class="col">
        Contenido en un contenedor que ocupa el 100% del ancho
      </div>
    </div>
</div> -->
<!-- <div class="container">
    <div class="row">
      <div class="col">
        Contenido en un contenedor con ancho fijo
      </div>
    </div>
</div> -->