.container{
  min-height: 600px;
}
.contenedor{
  border: 2px solid #155724;
  border-radius: 8px;
}
.contenedorCartas{
  /* width: 250px;
  height: 500px ; */
  background-color: #155724;  
  border-radius: 8px;
}
.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajustar si es necesario */
}
.imagen{
  width: 180px;
  height: auto;    
  border-radius: 5px;
}

/* mensaje */
.mensaje {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);    
  padding: 20px;
  border-radius: 10px;
  z-index: 10; /* Asegurarse de que esté sobre las cartas */        
  opacity: 0.95;
}

.mensaje.correcto {
  background-color: #d4edda; /* Verde para mensaje correcto */
  color: #155724;    
}

.mensaje.incorrecto {
  background-color: #f8d7da; /* Rojo para mensaje incorrecto */
  color: #721c24;
}  
 
.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;  
}
.elemento-centro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Otros estilos opcionales */
  width: 200px; /* Ajusta según tu necesidad */
  height: 80px;  
}
.position-relative {
  position: relative;
}

.contenedor-fijo {
  width: 300px;  /* Ancho fijo */
  height: 400px; /* Altura fija */
   /* background-color: #155724;   */
  /* color: white;   */
  /* border: 2px solid #155724;   */
  /*border-radius: 8px;*/     /* Bordes redondeados (opcional) */
  color: white;
  position: relative;

}

.gothic-a1-extrabold {
  font-family: "Gothic A1", sans-serif;
  font-weight: 800;
  font-style: normal;
} 

/*spinner*/
.spinner-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Superpón al contenido debajo */
  /* background: rgba(255, 255, 255, 0.8);  */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.contenedorJuego {
  position: relative;
  width: 100%;
  height: calc(100vh - 150px);
  
}