<!-- 
 Nombre y apellido.
Edad, validar que sean mayores de 18 años y menores de 99 años.
Número de teléfono, validar que sean solo números y no más de 10 caracteres.
calificacion juego juego 

Pregunta 1 (Radio Buttons):
"¿Cuál de los siguientes juegos te gustó más?"

    Opción 1: Juego 1
    Opción 2: Juego 2
    Opción 3: Juego 3
    Opción 4: Juego 4

(Usar <input type="radio">).

Pregunta 2 (Slider):
"En una escala del 1 al 10, ¿qué tan entretenidos te parecieron los juegos en general?"
(Usar <input type="range" min="1" max="10"> para que el usuario pueda arrastrar y elegir un valor).

Pregunta 3 (Dropdown Menu):
"¿Qué tan probable es que recomiendes estos juegos a un amigo?"

    Muy probable
    Algo probable
    No es probable

(Usar <select> con <option>). -->

<div class="container d-flex flex-column align-items-center">
    <div>
      <h2>Encuesta</h2>
    </div>
    <div *ngIf="isLoading; else elseBlock;" class="spinner-overlay">
      <div class="spinner-border text-succes" role="status">
          <span class="visually-hidden">Cargando...</span>
      </div>
    </div>
    <ng-template #elseBlock>
      <div class="card p-4 mt-4">    
          <!-- La directiva formGroup va a recibir la instancia del controlador en el onInit. El evento ngSubmit se va a disparar cuando apretemos el boton de enviar de tipo submit -->
        <form [formGroup]="form" (ngSubmit)="enviarForm()">                
            <div class="form-control-group ">
                <label class="form-label" for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" formControlName="nombre">
                <ng-container *ngIf="nombre?.hasError('pattern')">
                    <small class="text-danger">Sólo debe contener solo letras</small>
                </ng-container>
            </div>
            
            <div class="form-control-group">
                <label class="form-label" for="apellido">Apellido</label>
                <input type="text" class="form-control" id="apellido" formControlName="apellido">
                <ng-container *ngIf="apellido?.hasError('pattern')">
                    <small class="text-danger">Sólo debe contener solo letras</small>
                </ng-container>
            </div>
        
            <div class="form-control-group">
                <label class="form-label" for="edad">Edad</label>
                <input type="number" class="form-control" id="edad" formControlName="edad">
                <ng-container *ngIf="edad?.invalid && edad?.touched">
                    <small *ngIf="edad?.hasError('min') || edad?.hasError('max')" class="text-danger">
                      Debe ser entre 18 y 99 años de edad
                    </small>
                    <small *ngIf="edad?.hasError('required')" class="text-danger">
                      El campo edad es obligatorio
                    </small>
                  </ng-container>
            </div>
            
            <div class="form-control-group">
                <label class="form-label" for="telefono">Telefono</label>
                <input type="number" class="form-control" id="telefono" formControlName="telefono">
                <ng-container *ngIf="telefono?.invalid && telefono?.touched">
                    <small *ngIf="telefono?.hasError('pattern')" class="text-danger">
                      Solo se permiten números.
                    </small>
                    <small *ngIf="telefono?.hasError('minlength')" class="text-danger">
                      Debe tener al menos 10 caracteres.
                    </small>
                    <small *ngIf="telefono?.hasError('required')" class="text-danger">
                      El campo teléfono es obligatorio.
                    </small>
                  </ng-container>
            </div>
      
          <div class="form-control-group">
            <label for="recomendacion">¿Qué tan probable es que recomiendes estos juegos a un amigo?</label>
            <select id="recomendacion" class="form-control" formControlName="recomendacion" required>
              <option value="" disabled selected>Seleccione una opción</option>
              <option value="Muy probable">Muy probable</option>
              <option value="Poco probable">Poco probable</option>
              <option value="No es probable">No es probable</option>
            </select>
            <ng-container *ngIf="recomendacion?.invalid && recomendacion?.touched">
              <small class="text-danger">Es necesario seleccionar una opción</small>
            </ng-container>
          </div>        

          <div class="form-control-group">
            <label class="form-label" for="entretenimiento">En una escala del 1 al 10, ¿qué tan entretenidos te parecieron los juegos en general?</label>
            <input type="range" min="1" max="10" class="form-control" id="entretenimiento" formControlName="entretenimiento">
            <!-- <small class="text-danger">                
                {{repiteClave?.getError('noCoincide')}}
            </small> -->
          </div>

          
            <div class="form-control-group">
              <label>¿Cuál de los siguientes juegos te gustó más?</label><br>              
                <div class="d-inline-block me-4">
                  <input type="radio" id="juego1" formControlName="juegoFavorito" value="Juego 1">
                  <label for="juego1">Ahorcado</label>
                </div>
                
                <div class="d-inline-block me-4">
                  <input type="radio" id="juego2" formControlName="juegoFavorito" value="Juego 2">
                  <label for="juego2">Mayor o Menor</label>
                </div>                        
                
                <div class="d-inline-block me-4">
                  <input type="radio" id="juego3" formControlName="juegoFavorito" value="Juego 3">
                  <label for="juego3">Preguntados</label>
                </div>
                
                <div class="d-inline-block me-4">
                  <input type="radio" id="juego4" formControlName="juegoFavorito" value="Juego 4">
                  <label for="juego4">Simon Says</label>
                </div>              
            </div>
          

        
        <!-- spinner -->
        <!-- <div *ngIf="isLoading" class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div> -->        

        <!-- deshabilito el boton cuando el form sea invalido. Form.invalid es propiedad de abstract control, podria hacerse con el el control email -->
        <button [disabled]="form.invalid" type="submit" class="btn btn-success w-25 mt-4 form-control">
            Enviar
        </button>

        </form>
      </div>
    </ng-template>
    <div class="toast" id= "miTostada" role="alert" aria-live="assertive" aria-atomic="true" style="position: absolute; top: 20px; right:20px;">
      <div class="toast-header">
        <img src="../../../assets/img/admiracion.png" class="rounded me-2" alt="...">
        <strong class="me-auto">Atencion!</strong>
        <!-- <small>11 mins ago</small> -->
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Hello, world! This is a toast message.
      </div>
    </div>
    <div class="toast" id= "miTostada2" role="alert" aria-live="assertive" aria-atomic="true" style="position: absolute; top: 20px; right:20px;">
      <div class="toast-header">
        <img src="../../../assets/img/tilde.png" class="rounded me-2" alt="...">
        <strong class="me-auto">Atencion!</strong>
        <!-- <small>11 mins ago</small> -->
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Hello, world! This is a toast message.
      </div>
    </div>
  </div>