/* app.component.css */
:root{
  --colorFondo: rgb(187, 187, 187);
}
:host {/*le aplico estilo al contenedor del componente*/
    display: block;
    min-height: 100vh; /* Ocupa toda la altura de la ventana */
    background-color: rgb(187, 187, 187);
    margin: 0; /* Elimina márgenes predeterminados */    
    width: 100%;
  }
  
.container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100%;  
  
}