.position-relative {
    position: relative;
}
.container{    
    /* min-height: 600px; */
    /* height: 100%; */
   
    max-width: 100%;  /* Ocupa todo el ancho */
    height: 100%; /* Ocupa todo el alto */
    padding: 0%;
    margin-left: 0%;
    margin-right: 0%;
    border: 2px solid #155724;
    border-radius: 8px;       
    background-image: url(../../../../../assets/fondoPreguntados.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}
.contenedorJuego {
    position: relative;
    width: 100%;    
    height: calc(100vh - 150px);
    overflow-y: auto; 
}
.contenedor{
    border: 2px solid #155724;
    border-radius: 8px;
}


/*spinner*/
.spinner-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Superpón al contenido debajo */
    /* background: rgba(255, 255, 255, 0.8);  */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

.container-preguntados{
    width: 400px;
    /*height: 700px; */
    border-radius: 20px;
    /* border: 2px solid rgb(0, 0, 0); */
    /* background-color: dodgerblue; */
    /*background-color: red;*/

    overflow: auto;
    
}
.preguntas-puntaje {
    width: 100%;
    height: 35px;
    /* background-color: lightblue; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: solid;
}
.preguntas{
    width: 100%;
    height: 180px;
    /* background-color: rgb(23, 95, 119); */
    display: flex; 
    justify-content: center; 
    align-items: center; 
    /* background-color: rgb(177, 201, 177); */
    flex-direction: column;
    font-size: 20px;
}
.botones-contenedor{
    flex-grow: 1;
    /* background-color: lightgreen; */
    flex-grow: 1; /* Ocupa el espacio restante */
    display: flex; /* Activar flexbox dentro de bottom-div */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */    
    flex-direction: column;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.btn-respuestas{
    width: 350px;
    /*height: 60px; */

    /* display: flex;
    flex-direction: column;  
    justify-content: space-between;  
    align-items: center; */
    background-color: rgb(112, 230, 112);
    color: white;    
}

.gothic-a1-extrabold {
    font-family: "Gothic A1", sans-serif;
    font-weight: 600;
    font-style: normal;
} 

.cont-preguntas{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    /* opacity: 0.5; */
    color: black;
    text-decoration: solid;
    border-radius: 20px;
}

#puntaje, #temporizador{
    /* sombra */
    /* color: white; 
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.8); 
     */

    /* contorno */
    color: white; 
    text-stroke: 1px black; 
    -webkit-text-stroke: 1px black; 
    font-family: Arial, Helvetica, sans-serif;
}


#timer{
    color: white;
    text-stroke: 1px black; 
    -webkit-text-stroke: 1px black; 
    font-family: Arial, Helvetica, sans-serif;

    height: 30px;
    width: 30px;
}

.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-10-10 16:54:19
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  
