<!-- <div class="row"> -->
    <div class="d-flex justify-content-center">
        <!-- <div class="login row mt-5"> -->
        <div class="row login inner-content">
            <!-- <div class="d-flex justify-content-center"> -->
            <div class="col">
                <div>
                    <div class="container d-flex justify-content-between mt-5 mb-4">
                        <h2 class="text-left texto-blanco">Ingresar usuario</h2>
                        <img src="assets/img/logo.png" class="img-fluid" alt="logo" class="logo">
                    </div>
                    <div class="d-grid gap-3">
                        <div>                
                            <input [(ngModel)]="userMail" class="form-control my-2" placeholder="Usuario - Email">
                        </div>
                        <div>
                            <input [(ngModel)]="userPWD" class="form-control my-2" required placeholder="Contraseña">
                        </div>
                        <div >                
                            <button (click)="Login()" class="btn form-control mb-5 texto-blanco">Login</button>
                        </div>                            
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->