div{
    --fondo: #3F3F43;    
    --colorBoton: rgb(112, 230, 112);
    --colorBotonHover:green;
}

.texto-blanco{
    color: white;
    font-family: "Gothic A1", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.logo{
    height: 30px;
    width: 40px;
    margin-top: 7px;
}

.login{
    /*display: flex;*/
    /* justify-content: center;  
    align-items: center;     */
    
    /* max-width: 700px;  */
    background-color: var(--fondo);
    border-radius: 10px; /* Añade esquinas redondeadas */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Añade una sombra sutil */
    margin-top: 3rem;
    margin-bottom: 3rem;
    /*height: 100vh;     /*me aseguro que el contenedor ocupe todo el alto de la ventana*/
}

.btn{
    background: var(--colorBoton);
    border: none;
    transition: all 0.3s ease;
}

.btn:hover,
.btn:focus {
    background: var(--colorBotonHover);
}

input:focus{
    border-color: green;
    outline: none;
}
.gothic-a1-extrabold {
    font-family: "Gothic A1", sans-serif;
    font-weight: 800;
    font-style: normal;
  } 
  
  /* Contenido interno con ancho máximo */
  .inner-content {
    max-width:450px; /* Ancho máximo de 700px */
    width: 100%;      /* Asegura que el ancho del contenido use todo el espacio disponible hasta el máximo */
  }
